######################################################################
###################### Global Git Config file... #####################
######################################################################

[user]
	name = Max Chichikalov
	email = m.chichikalov@outlook.com
	username = m-chichikalov

[core]
	# editor = code -r
	whitespace = fix,-indent-with-non-tab,trailing-space,cr-at-eol
	excludesfile = ~/.gitignore
	# autocrlf = true

[web]
	browser = google-chrome

[color]
	ui = auto
[color "branch"]
	current = yellow bold
	local = green bold
	remote = cyan bold
[color "diff"]
	meta = yellow bold
	frag = magenta bold
	old = red bold
	new = green bold
	whitespace = red reverse
[color "status"]
	added = green bold
	changed = yellow bold
	untracked = red bold

[diff]
	tool = code -r -d

[alias]
	#############
	cp = cherry-pick
	cpa = cherry-pick --abort
	cpc = cherry-pick --continue
    #############
	l = log --oneline
	lg = log --all --graph --pretty=format:\"%C(yellow)%h%Creset%Cred%d%gD%Creset - %s% %Cgreen(%cr) %C(bold blue)<%cl>%Creset\" --date=short
    #############
	rb = rebase
	rba = rebase --abort
	rbc = rebase --continue
	rbi = rebase --interactive
	rbs = rebase --skip
    #############
	re = reset
	rh = reset HEAD
	reh = reset --hard
	rem = reset --mixed
	res = reset --soft
	rehh = reset --hard HEAD
	remh = reset --mixed HEAD
	resh = reset --soft HEAD
	rehom = reset --hard origin/master
    #############
	st = status
	stb = status -s -b
	#############
	br-a = branch -avv